<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-primary footer-navbar">
  <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
    <span class="navbar-text">
      Running GeyserList version <%= link_to Rails.cache.fetch("version/name"), Rails.cache.fetch("version/url") %>
      &centerdot;
      Made with &hearts; by <%= link_to "GeyserList Contributors", "https://github.com/GeyserMC/GeyserList/graphs/contributors" %>
      &centerdot;
      Copyright &copy; GeyserMC 2019 - <%= Time.now.year %>
    </span>
  </div>
</nav>

</body>
</html>