/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dist
 *= require @fortawesome/fontawesome-free/css/all.css
 *= require_tree .
 *= require_self
 */

$brands: ("discord": #7289DA, "google": #E0492E, "apple": #555555, "github": #24292E, "xbox": #107C10);

@each $brand, $color in $brands {
	.btn.btn-#{$brand} {	
		background-color: $color;
		border-color: $color;
	
		&:focus, &:active {
			background-color: lighten($color, 5%);
			border-color: lighten($color, 5%);
		}
	
		&:hover {
			background-color: darken($color, 5%);
			border-color: darken($color, 5%);
		}
	}
}

hr.small-hr {
	width: 10%;
}

// For InscrybMDE
.editor-toolbar {
	opacity: .6;

	&:hover {
		opacity: .8;
	}

	& a, & button {
    color: #2c3e50!important;
	}
}
